button {
    margin: 0.25em;
}

.fa {
    font-size: 2em;
}

p {
    font-size: 1em;
    margin-bottom: 0;
    margin-top: 0.25em;
}

@media (min-width: 576px) {
    .fa {
        font-size: 4em;
    }
}

@media (min-width: 768px) {
    .fa {
        font-size: 6em;
    }

    p {
        font-size: 1.25em;
    }
}

/*@media (min-width: 992px) {
  .fa {
  }
}*/

/*@media (min-width: 1200px) {
  .fa {
  }
}*/
