.content-type {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

/*.content-type:first-child {
    padding-left: 0;
    margin-left: 15px;
}

.content-type::last-child {
    padding-right: 0;
    margin-right: 15px;
}*/