<div id="content-types" class="row">
    <template ngFor let-contentType [ngForOf]="contentTypes">
        <div class="col-xs-3 col-md-3 content-type">
            <content-type [contentType]="contentType" (click)="btninfo($event, contentType)"></content-type>
        </div>
    </template>
</div>
<search-box></search-box>
<div id="files" class="clearfix">
    <ul>
        <template ngFor let-cloudFiles [ngForOf]="cloudFiles">
            <li>{{cloudFiles.path}}/{{cloudFiles.name}}</li>
        </template>
    </ul>
</div>